In [1]:
#Let's first install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\data_science\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\data_science\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\data_science\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\data_science\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: sortedcontainers in c:\data_science\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: outcome in c:\data_science\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\data_science\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\data_science\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\data_science\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: cffi>=1.14 in c:\data_science\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\data_science\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: pycparser in c:\data_science\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\data_science\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\data_science\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\data_science\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\data_science\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\data_science\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\data_science\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\data_science\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#Lets import all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

import time

#Importing requests
import requests

# importing regex
import re

# Importing required Exceptions
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException
from selenium.webdriver.support.ui import WebDriverWait

import warnings
warnings.filterwarnings('ignore')

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
#Lets connect to the web driver
driver=webdriver.Chrome(r"C:\Users\X1\chromedriver_win32\chromedriver.exe")

In [4]:
driver=webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [5]:
driver.get(' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos ')

In [6]:
# Creating empty lists for the attributes
Rank=[]
Name=[] 
Artist=[] 
Upload_date=[]
Views=[]

In [7]:
Rank=[]
try:
    ranks=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]")
    for i in ranks:  
        Rank.append(i.text)
        
except NoSuchElementException:
    Rank.append("no detail available")
except StaleElementReferenceException:
    Rank.append("no detail available")
print(Rank)

['1.', '2.', '3.', '4.', '5.', '6.', '7.', '8.', '9.', '10.', '11.', '12.', '13.', '14.', '15.', '16.', '17.', '18.', '19.', '20.', '21.', '22.', '23.', '24.', '25.', '26.', '27.', '28.', '29.', '30.']

In [8]:
#scrapping the name of the video
Name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]")
    for i in names:
        Name.append(i.text)
        
except NoSuchElementException:
    Name.append("no detail available")
except StaleElementReferenceException:
    Name.append("no detail available")
print(Name)

['"Baby Shark Dance"[3]', '"Despacito"[6]', '"Johny Johny Yes Papa"[12]', '"Shape of You"[13]', '"See You Again"[15]', '"Bath Song"[20]', '"Phonics Song with Two Words"[21]', '"Uptown Funk"[22]', '"Learning Colors – Colorful Eggs on a Farm"[23]', '"Masha and the Bear – Recipe for Disaster"[24]', '"Gangnam Style"[25]', '"Wheels on the Bus"[30]', '"Dame Tu Cosita"[31]', '"Sugar"[32]', '"Roar"[33]', '"Counting Stars"[34]', '"Sorry"[35]', '"Thinking Out Loud"[36]', '"Axel F"[37]', '"Girls Like You"[38]', '"Faded"[39]', '"Dark Horse"[40]', '"Baa Baa Black Sheep"[41]', '"Let Her Go"[42]', '"Bailando"[43]', '"Lean On"[44]', '"Shake It Off"[45]', '"Perfect"[46]', '"Waka Waka (This Time for Africa)"[47]', '"Mi Gente"[48]']

In [9]:
#scrapping the details of artist
Artist=[]
try:
    artists=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]")
    for i in artists:
        Artist.append(i.text)
        
except NoSuchElementException:
    Artist.append("no detail available")
except StaleElementReferenceException:
    Artist.append("no detail available")
print(Artist)

["Pinkfong Baby Shark - Kids' Songs & Stories", 'Luis Fonsi', 'LooLoo Kids', 'Ed Sheeran', 'Wiz Khalifa', 'Cocomelon – Nursery Rhymes', 'ChuChu TV', 'Mark Ronson', 'Miroshka TV', 'Get Movies', 'Psy', 'Cocomelon – Nursery Rhymes', 'El Chombo', 'Maroon 5', 'Katy Perry', 'OneRepublic', 'Justin Bieber', 'Ed Sheeran', 'Crazy Frog', 'Maroon 5', 'Alan Walker', 'Katy Perry', 'Cocomelon – Nursery Rhymes', 'Passenger', 'Enrique Iglesias', 'Major Lazer', 'Taylor Swift', 'Ed Sheeran', 'Shakira', 'J Balvin']

In [10]:
#scrapping the details of upload date
Upload_date=[]
try:
    upload_dates_list=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]")
    for i in upload_dates_list:
        Upload_date.append(i.text)
        
except NoSuchElementException:
    Upload_date.append("no detail available")
except StaleElementReferenceException:
    Upload_date.append("no detail available")
print(Upload_date)

['June 17, 2016', 'January 12, 2017', 'October 8, 2016', 'January 30, 2017', 'April 6, 2015', 'May 2, 2018', 'March 6, 2014', 'November 19, 2014', 'February 27, 2018', 'January 31, 2012', 'July 15, 2012', 'May 24, 2018', 'April 5, 2018', 'January 14, 2015', 'September 5, 2013', 'May 31, 2013', 'October 22, 2015', 'October 7, 2014', 'June 16, 2009', 'May 31, 2018', 'December 3, 2015', 'February 20, 2014', 'June 25, 2018', 'July 25, 2012', 'April 11, 2014', 'March 22, 2015', 'August 18, 2014', 'November 9, 2017', 'June 4, 2010', 'June 29, 2017']

In [11]:
#scrapping the details of views
Views=[]
try:
    view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]")
    for i in view:
        Views.append(i.text)
        
except NoSuchElementException:
    Views.append("no detail available")
except StaleElementReferenceException:
    Views.append("no detail available")
print(Views)

['10.70', '7.85', '6.35', '5.72', '5.51', '5.38', '4.63', '4.57', '4.57', '4.50', '4.43', '4.07', '3.94', '3.70', '3.58', '3.58', '3.55', '3.45', '3.36', '3.29', '3.28', '3.27', '3.24', '3.23', '3.21', '3.21', '3.17', '3.17', '3.14', '3.08']

In [13]:
pd.set_option('expand_frame_repr', False)
#preparing dataframe
videos=pd.DataFrame({"Rank":Rank,"Name":Name,"Artist":Artist,"Upload Date":Upload_date,"Views":Views})
print(videos)

   Rank                                             Name                                       Artist        Upload Date  Views
0    1.                            "Baby Shark Dance"[3]  Pinkfong Baby Shark - Kids' Songs & Stories      June 17, 2016  10.70
1    2.                                   "Despacito"[6]                                   Luis Fonsi   January 12, 2017   7.85
2    3.                       "Johny Johny Yes Papa"[12]                                  LooLoo Kids    October 8, 2016   6.35
3    4.                               "Shape of You"[13]                                   Ed Sheeran   January 30, 2017   5.72
4    5.                              "See You Again"[15]                                  Wiz Khalifa      April 6, 2015   5.51
5    6.                                  "Bath Song"[20]                   Cocomelon – Nursery Rhymes        May 2, 2018   5.38
6    7.                "Phonics Song with Two Words"[21]                                    ChuChu TV      March 6, 2014   4.63
7    8.                                "Uptown Funk"[22]                                  Mark Ronson  November 19, 2014   4.57
8    9.  "Learning Colors – Colorful Eggs on a Farm"[23]                                  Miroshka TV  February 27, 2018   4.57
9   10.   "Masha and the Bear – Recipe for Disaster"[24]                                   Get Movies   January 31, 2012   4.50
10  11.                              "Gangnam Style"[25]                                          Psy      July 15, 2012   4.43
11  12.                          "Wheels on the Bus"[30]                   Cocomelon – Nursery Rhymes       May 24, 2018   4.07
12  13.                             "Dame Tu Cosita"[31]                                    El Chombo      April 5, 2018   3.94
13  14.                                      "Sugar"[32]                                     Maroon 5   January 14, 2015   3.70
14  15.                                       "Roar"[33]                                   Katy Perry  September 5, 2013   3.58
15  16.                             "Counting Stars"[34]                                  OneRepublic       May 31, 2013   3.58
16  17.                                      "Sorry"[35]                                Justin Bieber   October 22, 2015   3.55
17  18.                          "Thinking Out Loud"[36]                                   Ed Sheeran    October 7, 2014   3.45
18  19.                                     "Axel F"[37]                                   Crazy Frog      June 16, 2009   3.36
19  20.                             "Girls Like You"[38]                                     Maroon 5       May 31, 2018   3.29
20  21.                                      "Faded"[39]                                  Alan Walker   December 3, 2015   3.28
21  22.                                 "Dark Horse"[40]                                   Katy Perry  February 20, 2014   3.27
22  23.                        "Baa Baa Black Sheep"[41]                   Cocomelon – Nursery Rhymes      June 25, 2018   3.24
23  24.                                 "Let Her Go"[42]                                    Passenger      July 25, 2012   3.23
24  25.                                   "Bailando"[43]                             Enrique Iglesias     April 11, 2014   3.21
25  26.                                    "Lean On"[44]                                  Major Lazer     March 22, 2015   3.21
26  27.                               "Shake It Off"[45]                                 Taylor Swift    August 18, 2014   3.17
27  28.                                    "Perfect"[46]                                   Ed Sheeran   November 9, 2017   3.17
28  29.           "Waka Waka (This Time for Africa)"[47]                                      Shakira       June 4, 2010   3.14
29  30.                                   "Mi Gente"[48]                                     J Balvin      June 29, 2017   3.08

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [27]:
#Lets connect to the web driver
driver=webdriver.Chrome(r"C:\Users\X1\chromedriver_win32\chromedriver.exe")

In [29]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get(' https://www.bcci.tv/.')

In [39]:
#going to internation fixtures page
fixtures=driver.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")

driver.get(fixtures.get_attribute('href'))

In [49]:
#Lets extract all the tags having Match titles.
titles=driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
titles

[<selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="0c85dba8-a8c5-4ed2-88bd-f746d09735c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="e0111c3b-5f3a-4953-a850-17153b33092a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="5c39415d-3a0f-465a-aa08-842454ccad88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="d5185143-e874-4aa7-9068-d88502348cbd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="b16c6120-03ba-475b-8a5d-a629391b4d43")>]

In [50]:
# Now the text of the match titles are inside the tags extracted above.
Match_Titles=[]
for i in titles:
    title=i.text
    Match_Titles.append(title)
Match_Titles

['1st T20I -', '2nd T20I -', '3rd T20I -', '4th T20I -', '5th T20I -']

In [51]:
#Lets extract all the tags having series
series=driver.find_elements_by_xpath("//span[@class='ng-binding']")
series

[<selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="9d698972-337f-4437-ac82-58d654e49622")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="fdc3e553-0d36-487d-9153-c1671694691b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="d38da770-c72e-431a-8a14-c7e0e8a76eb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="c86fbf90-dc91-4de5-a573-726b994860e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="229c3495-b6be-48be-8922-6dbd58943153")>]

In [52]:
# Now the text of the series are inside the tags extracted above.
Series=[]
for i in series:
    sr=i.text
    Series.append(sr)
Series

['SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022',
 'SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022']

In [65]:
place=driver.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
place

[<selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="e871bf3a-d298-4fe4-aa27-fcd0d2ebdacc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="f56a407e-74bf-4d7c-9f59-3b97e502751d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="5405e426-a350-4e56-95bb-5f9e75679445")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="477b2258-635c-4ba5-b813-076cca105060")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="8d430a7c-7763-4913-96a5-812bc27cef0a")>]

In [66]:
Places=[]
for i in place:
    p=i.text
    Places.append(p[11:])
Places

['Arun Jaitley Stadium, Delhi',
 'Barabati Stadium, Cuttack',
 'Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam',
 'Saurashtra Cricket Association Stadium, Rajkot',
 'M Chinnaswamy Stadium, Bengaluru']

In [67]:
date=driver.find_elements_by_xpath("//h5[@class='ng-binding']")
date

[<selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="08a7e557-91b8-4ae5-a0b8-3246a9f9ce2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="4183e34d-6167-46ff-8f92-f8c341e11143")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="7add1f8e-bd05-41fc-820f-52bc9b4ad022")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="14dd3d0b-2d4d-4abe-9b68-89a361ea46de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="b40150ba-e1b6-4a0a-b386-6640e7fc34b5")>]

In [69]:
Dates=[]
for i in date:
    d=i.text
    Dates.append(d)
Dates

['9 JUN 2022', '12 JUN 2022', '14 JUN 2022', '17 JUN 2022', '19 JUN 2022']

In [71]:
time=driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
time

[<selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="39a0a37b-ebe3-48e7-a7be-9331b697f3ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="d144637e-7fd7-4cdb-a763-70728d28fab7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="85d015ec-26ae-4d75-8cb8-bbdb23ac1859")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="34aa5870-0be7-454d-a836-66181b9fab5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="390f56120c347b985b63a4dacdb4636c", element="27f3d523-2105-4196-8455-bafe39400f35")>]

In [72]:
Time=[]
for i in time:
    t=i.text
    Time.append(t)
Time

['7:00 PM IST', '7:00 PM IST', '7:00 PM IST', '7:00 PM IST', '7:00 PM IST']

In [75]:
import pandas as pd
Matches=pd.DataFrame({'Match_Titles':Match_Titles,'Series':Series,'Place':Places,'Dates':Dates,'Time':Time})
Matches

  Match_Titles                                      Series                                              Place        Dates         Time
0   1st T20I -  SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022                        Arun Jaitley Stadium, Delhi   9 JUN 2022  7:00 PM IST
1   2nd T20I -  SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022                          Barabati Stadium, Cuttack  12 JUN 2022  7:00 PM IST
2   3rd T20I -  SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022  Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadi...  14 JUN 2022  7:00 PM IST
3   4th T20I -  SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022     Saurashtra Cricket Association Stadium, Rajkot  17 JUN 2022  7:00 PM IST
4   5th T20I -  SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022                   M Chinnaswamy Stadium, Bengaluru  19 JUN 2022  7:00 PM IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [101]:
#loading the drivers and url
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.guru99.com/')
driver.maximize_window()

In [102]:
#clicking on selenium tutorial
driver.find_element_by_xpath("//*[@id='java_technologies']/li[3]/a").click()

In [103]:
#navigate to selenium page
exception_handle_link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']")
try:
    exception_handle_link.click()
except ElementNotInteractableException:#handling element not clickable exception
    driver.get(exception_handle_link.get_attribute('href'))

In [109]:
#scraping exceptions names
name=[]
try:
    names=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
    for i in names[1:]:
        name.append(i.text)
except NoSuchElementException:#handling no such element exception
    name.append('No details available')
print(len(name))

40

In [108]:
#scraping exceptions description
desc=[]
try:
    desc_list=driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
    for i in desc_list[1:]:
        desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    desc.append('No details available')
print(len(desc))

40

In [111]:
pd.set_option('expand_frame_repr', False)
#creating dataframe
df=pd.DataFrame({"Exception_name":name,
                "Description":desc})
print(df)

                         Exception_name                                        Description
0         ElementNotSelectableException  This Selenium exception occurs when an element...
1                NoSuchElementException  This Exception occurs if an element could not ...
2                  NoSuchFrameException  This Exception occurs if the frame target to b...
3               NoAlertPresentException  This Exception occurs when you switch to no pr...
4                 NoSuchWindowException  This Exception occurs if the window target to ...
5        StaleElementReferenceException  This Selenium exception occurs happens when th...
6              SessionNotFoundException  The WebDriver is acting after you quit the bro...
7                      TimeoutException  Thrown when there is not enough time for a com...
8                    WebDriverException  This Exception takes place when the WebDriver ...
9             ConnectionClosedException  This type of Exception takes place when there ...
10     ElementClickInterceptedException  The command may not be completed as the elemen...
11      ElementNotInteractableException  This Selenium exception is thrown when any ele...
12             ErrorInResponseException  This happens while interacting with the Firefo...
13  ErrorHandler.UnknownServerException  Exception is used as a placeholder in case if ...
14         ImeActivationFailedException  This expectation will occur when IME engine ac...
15             ImeNotAvailableException    It takes place when IME support is unavailable.
16         InsecureCertificateException  Navigation made the user agent to hit a certif...
17             InvalidArgumentException  It occurs when an argument does not belong to ...
18         InvalidCookieDomainException  This happens when you try to add a cookie unde...
19          InvalidCoordinatesException  This type of Exception matches an interacting ...
20          InvalidElementStateExceptio  It occurs when command can’t be finished when ...
21            InvalidSessionIdException  This Exception took place when the given sessi...
22       InvalidSwitchToTargetException  This occurs when the frame or window target to...
23                  JavascriptException  This issue occurs while executing JavaScript g...
24                        JsonException  It occurs when you afford to get the session w...
25             NoSuchAttributeException  This kind of Exception occurs when the attribu...
26       MoveTargetOutOfBoundsException  It takes place if the target provided to the A...
27               NoSuchContextException           ContextAware does mobile device testing.
28                NoSuchCookieException  This Exception occurs when no cookie matching ...
29                    NotFoundException  This Exception is a subclass of WebDriverExcep...
30          RemoteDriverServerException  This Selenium exception is thrown when the ser...
31                  ScreenshotException            It is not possible to capture a screen.
32           SessionNotCreatedException  It happens when a new session could not be suc...
33           UnableToSetCookieException  This occurs if a driver is unable to set a coo...
34           UnexpectedTagNameException  Happens if a support class did not get a web e...
35              UnhandledAlertException  This expectation occurs when there is an alert...
36      UnexpectedAlertPresentException  It occurs when there is the appearance of an u...
37               UnknownMethodException  This Exception happens when the requested comm...
38          UnreachableBrowserException  This Exception occurs only when the browser is...
39          UnsupportedCommandException  This occurs when remote WebDriver does n’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [119]:
#Lets connect to the web driver
driver=webdriver.Chrome(r"C:\Users\X1\chromedriver_win32\chromedriver.exe")

In [120]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get('https://www.statisticstimes.com/')

In [121]:
# Creating empty sets.
Rank = []
State = []
GSDP_18_19 = []
GSDP_19_20 = []
Share_2018= []
GDP = []

In [122]:
#economy button
economy=driver.find_element_by_xpath("//div[@class='dropdown'][2]/div/a[3]")

In [123]:
try:
    economy.click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))

In [124]:
#fetching gdp of india state link
GDP=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
try:
    GDP.click()
except ElementNotInteractableException:
    driver.get(GDP.get_attribute('href'))

In [125]:
#scraping rank
rank=[]
try:
    ranks=driver.find_elements_by_xpath("//td[@class='data1']")
    for i in ranks:
        rank.append(i.text)
except NoSuchElementException:#handling no such element exception
    rank.append('No details available')
print(len(rank[0:33]))

33

In [126]:
#scraping States
State=[]
try:
    states=driver.find_elements_by_xpath("//td[@class='name']")
    for i in states:
        State.append(i.text)
except NoSuchElementException:#handling no such element exception
    State.append('No details available')
print(len(State[0:33]))

33

In [127]:
#scraping GSDP(18-19)
GSDP_18=[]
try:
    info=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
    for i in info:
        GSDP_18.append(i.text)
except NoSuchElementException:#handling no such element exception
    GSDP_18.append('No details available')
print(len(GSDP_18[0:33]))

33

In [132]:
GSDP_details=[]
try:
    info=driver.find_elements_by_xpath("//td[@class='data']")
    for i in info:
        GSDP_details.append(i.text)
except NoSuchElementException:#handling no such element exception
    GSDP_details.append('No details available')
print(len(GSDP_details))

308

In [136]:
GSDP_details

['-',
 '13.94%',
 '399.921',
 '-',
 '2,039,074',
 '1,845,853',
 '8.63%',
 '247.629',
 '1,312,929',
 '1,215,307',
 '1,687,818',
 '8.39%',
 '240.726',
 '1,166,817',
 '1,123,982',
 '-',
 '7.96%',
 '228.290',
 '-',
 '1,186,379',
 '1,631,977',
 '7.91%',
 '226.806',
 '1,156,039',
 '1,091,077',
 '1,253,832',
 '5.77%',
 '165.556',
 '793,223',
 '739,525',
 '1,020,989',
 '4.99%',
 '143.179',
 '711,627',
 '677,428',
 '972,782',
 '4.57%',
 '131.083',
 '672,018',
 '621,301',
 '969,604',
 '4.56%',
 '130.791',
 '663,258',
 '612,828',
 '906,672',
 '4.29%',
 '122.977',
 '561,801',
 '522,009',
 '-',
 '4.14%',
 '118.733',
 '-',
 '559,412',
 '856,112',
 '4.10%',
 '117.703',
 '634,408',
 '590,569',
 '831,610',
 '3.89%',
 '111.519',
 '572,240',
 '531,085',
 '611,804',
 '2.81%',
 '80.562',
 '414,977',
 '375,651',
 '574,760',
 '2.79%',
 '79.957',
 '418,868',
 '397,669',
 '521,275',
 '2.58%',
 '74.098',
 '396,499',
 '376,877',
 '-',
 '1.67%',
 '47.982',
 '-',
 '234,048',
 '329,180',
 '1.61%',
 '46.187',
 '243,477',
 '231,182',
 '328,598',
 '1.57%',
 '45.145',
 '240,036',
 '224,986',
 '-',
 '1.30%',
 '37.351',
 '-',
 '193,273',
 '-',
 '0.83%',
 '23.690',
 '-',
 '112,755',
 '165,472',
 '0.81%',
 '23.369',
 '124,403',
 '117,851',
 '80,449',
 '0.39%',
 '11.115',
 '63,408',
 '57,787',
 '55,984',
 '0.26%',
 '7.571',
 '40,583',
 '36,963',
 '-',
 '0.22%',
 '6.397',
 '-',
 '31,192',
 '38,253',
 '0.18%',
 '5.230',
 '25,093',
 '23,013',
 '36,572',
 '0.18%',
 '5.086',
 '26,695',
 '24,682',
 '32,496',
 '0.15%',
 '4.363',
 '20,017',
 '18,722',
 '31,790',
 '0.15%',
 '4.233',
 '20,673',
 '19,300',
 '-',
 '0.14%',
 '4.144',
 '-',
 '17,647',
 '-',
 '0.13%',
 '3.737',
 '-',
 '16,676',
 '26,503',
 '0.12%',
 '3.385',
 '18,797',
 '16,478',
 '-',
 '-',
 '-',
 '-',
 '-',
 '20,351,013',
 '18,886,957',
 '',
 '2,869',
 '14,569,268',
 '14,003,316',
 '-',
 '13.97%',
 '-',
 '1,794,123',
 '1,659,210',
 '8.77%',
 '1,167,776',
 '1,079,894',
 '1,495,758',
 '8.41%',
 '1,015,735',
 '979,159',
 '1,476,983',
 '8.09%',
 '1,035,131',
 '976,948',
 '-',
 '7.92%',
 '-',
 '1,036,859',
 '1,150,711',
 '5.96%',
 '713,376',
 '662,432',
 '916,014',
 '5.06%',
 '630,693',
 '600,433',
 '881,873',
 '4.68%',
 '594,806',
 '549,481',
 '875,429',
 '4.65%',
 '595,605',
 '550,584',
 '827,019',
 '4.41%',
 '496,798',
 '461,903',
 '-',
 '4.24%',
 '-',
 '513,322',
 '779,647',
 '4.22%',
 '568,265',
 '529,739',
 '755,790',
 '3.99%',
 '514,983',
 '477,834',
 '562,710',
 '2.91%',
 '377,276',
 '340,512',
 '517,521',
 '2.83%',
 '374,015',
 '354,830',
 '457,757',
 '2.56%',
 '344,437',
 '327,805',
 '-',
 '1.69%',
 '-',
 '207,193',
 '301,242',
 '1.63%',
 '218,232',
 '204,423',
 '288,041',
 '1.60%',
 '210,837',
 '200,453',
 '-',
 '1.33%',
 '-',
 '173,211',
 '143,063',
 '0.80%',
 '107,171',
 '101,534',
 '-',
 '0.78%',
 '-',
 '91,666',
 '72,181',
 '0.40%',
 '56,810',
 '51,878',
 '50,227',
 '0.27%',
 '35,980',
 '32,830',
 '-',
 '0.22%',
 '-',
 '27,565',
 '34,823',
 '0.19%',
 '22,291',
 '20,534',
 '32,833',
 '0.18%',
 '23,564',
 '21,779',
 '29,148',
 '0.15%',
 '18,549',
 '17,228',
 '28,391',
 '0.15%',
 '17,060',
 '15,972',
 '-',
 '0.15%',
 '-',
 '15,381',
 '-',
 '0.13%',
 '-',
 '15,013',
 '24,424',
 '0.13%',
 '17,797',
 '15,372',
 '-',
 '-',
 '-',
 '-',
 '17,994,301',
 '16,704,645',
 '',
 '12,681,246',
 '12,240,380']

In [135]:
#scraping GSDP(19-20)
GSDP_19=GSDP_details[::5][0:33]
print(len(GSDP_19))

33

In [138]:
#scraping share 2018
Share=GSDP_details[::1][0:33]
print(len(Share))

33

In [139]:
#scraping GDP(billion$)
GDP_billion=GSDP_details[::2][0:33]
print(len(GDP_billion))

33

In [143]:
#creatng dataframe
df=pd.DataFrame({'Rank':rank[0:33],
                'State':State[0:33],
                'GSDP(18-19)':GSDP_18[0:33],
                'GSDP(19-20)':GSDP_19,
                'Share_18-19':Share,
                'GDP(Billion_$)':GDP_billion})
print(df)

   Rank                      State GSDP(18-19) GSDP(19-20) Share_18-19 GDP(Billion_$)
0     1                Maharashtra   2,632,792           -           -              -
1     2                 Tamil Nadu   1,630,208   1,845,853      13.94%        399.921
2     3              Uttar Pradesh   1,584,764   1,687,818     399.921      2,039,074
3     4                    Gujarat   1,502,899           -           -          8.63%
4     5                  Karnataka   1,493,127   1,631,977   2,039,074      1,312,929
5     6                West Bengal   1,089,898   1,253,832   1,845,853      1,687,818
6     7                  Rajasthan     942,586   1,020,989       8.63%        240.726
7     8             Andhra Pradesh     862,957     972,782     247.629      1,123,982
8     9                  Telangana     861,031     969,604   1,312,929          7.96%
9    10             Madhya Pradesh     809,592     906,672   1,215,307              -
10   11                     Kerala     781,653           -   1,687,818      1,631,977
11   12                      Delhi     774,870     856,112       8.39%        226.806
12   13                    Haryana     734,163     831,610     240.726      1,091,077
13   14                      Bihar     530,363     611,804   1,166,817          5.77%
14   15                     Punjab     526,376     574,760   1,123,982        793,223
15   16                     Odisha     487,805     521,275           -      1,020,989
16   17                      Assam     315,881           -       7.96%        143.179
17   18               Chhattisgarh     304,063     329,180     228.290        677,428
18   19                  Jharkhand     297,204     328,598           -          4.57%
19   20                Uttarakhand     245,895           -   1,186,379        672,018
20   21            Jammu & Kashmir     155,956           -   1,631,977        969,604
21   22           Himachal Pradesh     153,845     165,472       7.91%        130.791
22   23                        Goa      73,170      80,449     226.806        612,828
23   24                    Tripura      49,845      55,984   1,156,039          4.29%
24   25                 Chandigarh      42,114           -   1,091,077        561,801
25   26                 Puducherry      34,433      38,253   1,253,832              -
26   27                  Meghalaya      33,481      36,572       5.77%        118.733
27   28                     Sikkim      28,723      32,496     165.556        559,412
28   29                    Manipur      27,870      31,790     793,223          4.10%
29   30                   Nagaland      27,283           -     739,525        634,408
30   31          Arunachal Pradesh      24,603           -   1,020,989        831,610
31   32                    Mizoram      22,287      26,503       4.99%        111.519
32   33  Andaman & Nicobar Islands           -           -     143.179        531,085

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [177]:
#Lets connect to the web driver
driver=webdriver.Chrome(r"C:\Users\X1\chromedriver_win32\chromedriver.exe")

In [178]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get("https://github.com/")

In [179]:
#finding explore-trending option
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")
driver.get(explore.get_attribute('href'))

In [169]:
#scraping repositories title
repo_title=[]
try:
    repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in repos:
        repo_title.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_title.append('No details available')
print(len(repo_title))

25

In [171]:
#scraping repositories description
repo_desc=[]
try:
    descriptions=driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']")
    for i in descriptions:
        repo_desc.append(i.text)
except NoSuchElementException:#handling no such element exception
    repo_desc.append('No details available')
print(len(repo_desc))

25

In [172]:
repo_urls=[]
repos=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in repos:
    repo_urls.append(i.get_attribute('href'))

In [188]:
Contributors_count=[]
Language_used=[]
for i in repo_urls:
    driver.get(i)
    l=[]
    try:#scraping contributors count
        count=driver.find_element_by_xpath("//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Contributors_count.append(count.text)
    except NoSuchElementException:#handling no such element exception
        Contributors_count.append('No details available')
     #scraping languages used   
    languages=driver.find_elements_by_xpath("/html/body/div[4]/main/div[3]/div/div[2]/article[1]/div[2]/span[1]/span[2]")
    if languages:    
        Language_used.append(i.text)
    else:
        Language_used.append('No languages used')

In [191]:
#creating dataframe
pd.set_option('expand_frame_repr', False)
df=pd.DataFrame({'Title':repo_title,
                'Description':repo_desc,
                'Contributors_count':Contributors_count,
                'Language_used':Language_used})
print(df)

                                               Title                                        Description Contributors_count      Language_used
0                yihong0618 / Kindle_download_helper             Download all your kindle books script.                  8  No languages used
1                    papers-we-love / papers-we-love  Papers from the computer science community to ...                255  No languages used
2                            borisdayma / dalle-mini   DALL·E Mini - Generate images from a text prompt                 15  No languages used
3                                metabase / metabase  The simplest, fastest way to get business inte...                313  No languages used
4             sudheerj / reactjs-interview-questions  List of top 500 ReactJS Interview Questions & ...                 68  No languages used
5                                    alibaba / GaiaX  GaiaX dynamic template engine is a lightweight...                  7  No languages used
6                        saharmor / dalle-playground  A playground to generate images from any text ...                  3  No languages used
7                 dortania / OpenCore-Legacy-Patcher                  Experience macOS just like before                 23  No languages used
8                    bradtraversy / 50projects50days         50+ mini web projects using HTML, CSS & JS                 28  No languages used
9                                    PaperMC / Paper  High performance Spigot fork that aims to fix ...                291  No languages used
10                     AI4Finance-Foundation / FinRL  FinRL: The first open-source project for finan...                 59  No languages used
11                               realm / realm-swift  Realm is a mobile database: a replacement for ...                129  No languages used
12                 LinuxSuRen / remote-jobs-in-china                                        支持远程办公的中国公司                 17  No languages used
13                             chakra-ui / chakra-ui  ⚡️ Simple, Modular & Accessible UI Components ...                516  No languages used
14                       manateelazycat / lsp-bridge                       Fastest LSP client for Emacs                 33  No languages used
15                            Snailclimb / JavaGuide  「Java学习+面试指南」一份涵盖大部分 Java 程序员所需要掌握的核心知识。准备 Jav...                324  No languages used
16                                    jina-ai / jina  Build cross-modal and multi-modal applications...                140  No languages used
17                              jina-ai / dalle-flow  A Human-in-the-Loop workflow for creating HD i...                  3  No languages used
18                                   alibaba / DataX                       DataX是阿里云DataWorks数据集成的开源版本。                 49  No languages used
19     GoogleCloudPlatform / cloud-foundation-fabric   End-to-end modular samples for Terraform on GCP.                 58  No languages used
20  shimohq / chinese-programmer-wrong-pronunciation                                     中国程序员容易发音错误的单词                 74  No languages used
21                                 vuejs / vitepress          Vite & Vue powered static site generator.                 85  No languages used
22                        MicrosoftDocs / azure-docs       Open source documentation of Microsoft Azure             5,000+  No languages used
23                     digitalocean / nginxconfig.io            ⚙️ NGINX config generator on steroids 💉                 41  No languages used
24                                   gin-gonic / gin  Gin is a HTTP web framework written in Go (Gol...                366  No languages used

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [192]:
#Lets connect to the web driver
driver=webdriver.Chrome(r"C:\Users\X1\chromedriver_win32\chromedriver.exe")

In [193]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get("https:/www.billboard.com/ ")

In [195]:
#clicking Hot 100 button
Hot_100=driver.find_element_by_xpath("/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a")
try:
    Hot_100.click()
except ElementNotInteractableException:
    driver.get(Hot_100.get_attribute('href'))

In [202]:
#scraping song names
song_name=[]

try:
    names=driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    song_name.append('No details available')

try:
    names=driver.find_elements_by_xpath("//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
    for i in names:
        song_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    song_name.append('No details available')
print(len(song_name))

100

In [203]:
#scraping song names
artist_name=[]

try:
    names=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist_name.append('No details available')

try:
    names=driver.find_elements_by_xpath("//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
    for i in names:
        artist_name.append(i.text)
except NoSuchElementException:#handling no such element exception
    artist_name.append('No details available')
print(len(artist_name))

100

In [207]:
#scraping last week rank
details=[]

try:
    ranks=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
    for i in ranks:
        details.append(i.text)
except NoSuchElementException:#handling no such element exception
    details.append('No details available')

try:
    ranks=driver.find_elements_by_xpath("//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
    for i in ranks:
        details.append(i.text)
except NoSuchElementException:#handling no such element exception
    details.append('No details available')
print(len(last_week_rank))

600

In [208]:
last_week_rank=details[::6]
len(last_week_rank)

100

In [212]:
#scraping peak rank
peak_rank=details[1::6]
len(peak_rank)

100

In [213]:
#scraping weeks on chart
weeks=details[2::6]
len(weeks)

100

In [214]:
#creating dataframe
df=pd.DataFrame({'Song_Name':song_name,
                'Artist_Name':artist_name,
                'Last_week_rank':last_week_rank,
                'Peak':peak_rank,
                'Weeks_on_chart':weeks})
print(df)

               Song_Name                    Artist_Name Last_week_rank Peak Weeks_on_chart
0   No details available                   Harry Styles              1    1              9
1            First Class                    Jack Harlow              2    1              8
2             Wait For U  Future Featuring Drake & Tems              3    1              5
3        About Damn Time                          Lizzo              5    4              7
4             Heat Waves                  Glass Animals              6    1             72
..                   ...                            ...            ...  ...            ...
95       Love You Better                         Future             84   12              5
96           Wild Hearts                    Keith Urban              -   97              1
97     Last Night Lonely                      Jon Pardi              -   98              1
98              7500 OBO                     Tim McGraw              -   99              1
99     Until I Found You                Stephen Sanchez              -  100              1

[100 rows x 5 columns]

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [220]:
#Lets connect to the web driver
driver=webdriver.Chrome(r"C:\Users\X1\chromedriver_win32\chromedriver.exe")

In [221]:
driver=webdriver.Chrome('chromedriver.exe')
driver.get("https://www.naukri.com/")

In [223]:
#Fetching jobs url for recruiter page
jobs = driver.find_element_by_xpath("//a[@title='Search Jobs']")
jobs_url = jobs.get_attribute("href")

driver.get(jobs_url)
time.sleep(3)

In [225]:
#Fetching urls for recruiter page
rec = driver.find_element_by_xpath("//a[@title='Search Recruiters']")
page_url = rec.get_attribute("href")

driver.get(page_url)
time.sleep(3)

In [226]:
#Fetching search button,bar xpath and clicking on it
search = driver.find_element_by_xpath("//div[@class='inpWrap']//input") 
search.send_keys("Data science ")           
but = driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']").click()     
time.sleep(4)

In [227]:
#Creating empty list
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [228]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//span[@class='fl ellipsis']")[:50]:
    Name.append(i.text)
time.sleep(5)


#Scraping data of Designation
for i in driver.find_elements_by_xpath("//span[@class='ellipsis clr']")[:50]:
    Designation.append(i.text)
time.sleep(5)

#Scraping data of company name
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]/a[2]")[:50]:
    Company.append(i.text)
time.sleep(5)
    
#scraping data of Skills 
for i in driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")[:50]:
    try:
        if i.text == "Not Specified": raise NoSuchElementException
        Skills.append(i.text)
    except NoSuchElementException:
        Skills.append('-')
    time.sleep(5)

#Scraping data of locations
for i in driver.find_elements_by_xpath("//div[@class='vcard']//p[1]//span")[:50]:
    Location.append(i.text)
time.sleep(5)

In [230]:
#DATA FRAMEING
Naukri=pd.DataFrame({})
Naukri['Name'] = Name
Naukri['Designation'] = Designation
Naukri['Company'] = Company
Naukri['Skills'] = Skills
Naukri['Location'] = Location
#Printing data frame
Naukri

                                             Name                          Designation                                         Company                                             Skills                                       Location
0                                    Aakash Harit                           HR Manager                            Data Science Network  Classic ASP Developer, Internet Marketing Prof...                                   Aakash Harit
1                            shravan Kumar Gaddam                    Company Recruiter                   Shore Infotech India Pvt. Ltd  .Net, Java, Data Science, Linux Administration...                                     HR Manager
2                        MARSIAN Technologies LLP                           Company HR                        MARSIAN Technologies LLP  Data Science, Artificial Intelligence, Machine...                                          Delhi
3                                    Anik Agrawal                    Company Recruiter           Enerlytics Software Solutions Pvt Ltd  Mean Stack, javascript, angularjs, mongodb, We...                           shravan Kumar Gaddam
4                                    subhas patel                          Founder CEO                                 LibraryXProject  Hadoop, Spark, Digital Strategy, Data Architec...                              Company Recruiter
5    Abhishek - Only Analytics Hiring - India and          Recruitment Lead Consultant      Apidel Technologies Division of Transpower  Analytics, Business Intelligence, Business Ana...                       Hyderabad / Secunderabad
6   Institute for Financial Management and Resear                    Programme Manager                                            IFMR                                       Data Science                       MARSIAN Technologies LLP
7                                     Balu Ramesh                     HR Administrator                     Techvantage Systems Pvt Ltd  Machine Learning, algorithms, Go Getter, Compu...                                     Company HR
8                                   Asif Lucknowi                             Director                      Weupskill- Live Wire India  Technical Training, Software Development, Pres...                                           Pune
9                                 InstaFinancials                       Human Resource                CBL Data Science Private Limited  Software Development, It Sales, Account Manage...                                   Anik Agrawal
10                                 Priyanka Akiri                           HR Manager                   Infinitive Software Solutions  Oracle Dba, Data Science, Data Warehousing, ET...                              Company Recruiter
11                                Kalpana Dumpala                     Executive Hiring                              Innominds Software  Qa, Ui/ux, Java Developer, Java Architect, C++...                                      Ahmedabad
12                                        Mubarak                           Company HR                                        MoneyTap  Business Intelligence, Data Warehousing, Data ...                                   subhas patel
13                                 Kushal Rastogi                           Company HR              QuantMagnum Technologies Pvt. Ltd.  Office Administration, Hr Administration, tele...                                    Founder CEO
14                             Mahesh Babu Channa                         HR Team Lead                               SocialPrachar.com  Social Media, digital media maketing, seo, smm...                                  UK - (london)
15                                   Kapil Devang                           HR Manager                                  BISP Solutions     Big Data, Hadoop, Data Analytics, Data Science   Abhishek - Only Analytics Hiring - India and
16                                Dhruv Dev Dubey             Company Recruitment Head                                    Confidential  Server Administartion, Verilog, Vhdl, Digital ...                    Recruitment Lead Consultant
17                                Sakshi Chhikara                 Assistant Manager HR                   BIZ INFOTECNO PRIVATE LIMITED  React.js, Data Science, Java, Front End, Busin...                              Vadodara / Baroda
18                                    Ruchi Dhote  Senior Executive Talent Acquisition                           Bristlecone India Ltd  Qlikview, Qlik Sense, Microsoft Azure, Power B...  Institute for Financial Management and Resear
19                                  Manisha Yadav                         HR Executive                                        Easi Tax  Telecalling, Client Interaction, Marketing, Re...                              Programme Manager
20                                    Riya Rajesh           Manager Talent Acquisition                     Novelworx Digital Solutions                                       Data Science                                        Chennai
21                           Rashmi Bhattacharjee                              HR Head         AXESTRACK SOFTWARE SOLUTIONS PRIVATE...  Corporate Sales, Software Development, Softwar...                                    Balu Ramesh
22                                  Faizan Kareem                           HR MANAGER                   FirstTech Consaltants Pvt.Ltd  Data Analytics, Data Science, Machine Learning...                               HR Administrator
23                                 Rithika dadwal                         HR Recruiter                                Affine Analytics  Data Science, Machine Learning, Python, R, Dee...                                     Trivandrum
24                             Sandhya Khandagale                         HR Recruiter                 Compumatrice Multimedia Pvt Ltd  Big Data, Data Science, Artificial Intelligenc...                                  Asif Lucknowi
25                                      Shaun Rao              Manager Human Resources                              Exela Technologies  Java, Net, Angularjs, Hr, Infrastructure, Mana...                                       Director
26                                  Azahar Shaikh                    Company Recruiter                 NEAL ANALYTICS SERVICES PVT LTD  Data Science, Artificial Intelligence, Machine...                                         Indore
27                                          Manas              Lead Talent acquisition      Autumn Leaf Consulting Services Private...  Software Architecture, Vp Engineering, Product...                                InstaFinancials
28                                          kumar                           Proprietor                                         trainin  Data Science, Hadoop, Rpas, Devops, Python, Aw...                                 Human Resource
29                                   Sunil Vedula                                  CEO                            Nanoprecise Sci Corp  Signal Processing, Machine Learning, Neural Ne...                          Bengaluru / Bangalore
30                                    Rajat Kumar                          Founder CEO                  R.S Consultancy &amp; Services  Web Technologies, Project Management, Software...                                 Priyanka Akiri
31                                      Jayanth N                      Project Manager        Dollarbird Information Services Pvt, Ltd  Data Analytics, Managed Services, Team Leading...                                     HR Manager
32                                         Avodha       Business Development Associate                              Nikitha Palaparthi  Ethical Hacking, Security Operations Center, S...                                      Hyderabad
33                                       SREEDHAR               Recruitment Consultant     JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED  Data Science, Machine Learning, Big Data Analy...                                Kalpana Dumpala
34                                    Priya Khare                       Senior Manager                          Independent Consultant  Data Science, Artificial Intelligence, analyti...                               Executive Hiring
35                                    Amit Sharma                           Consultant                                 ASCO consulting  Machine Learning, Artificial Intelligence, Dat...                       Hyderabad / Secunderabad
36                                          Kanan         senior technology instructor                                         NY INST  C, C++, Artificial Intelligence, Python, Php, ...                                        Mubarak
37                           Shashikant Chaudhary             HR Recruiter/HR Excutive  3D India Staffing Research &amp; Consulting...  Relationship Management, Retail Sales, Private...                                     Company HR
38                                           Brad        Manager, Technical Recruiting                                     O.C. Tanner                 Data Science, Software Engineering                          Bengaluru / Bangalore
39                                   Rutuja Pawar                  Technical Recruiter                                   Demand Matrix  Data Science, Big Data Analytics, Digital Mark...                                 Kushal Rastogi
40                            Madhusudhan Sridhar                      Erp Implementer                             MADHUSUDHAN SRIDHAR                  Data Science, Recruitment, Salary                                     Company HR
41                                    Ankit Sinha                       Head Analytics                                  Suntech Global  B.Tech, Tableau, Statistics, R, Analytics, Tim...                                         Mumbai
42                                 Gaurav Chouhan              Chief Technical Officer                        Strategic Consulting Lab  Software Development, Business Intelligence, B...                             Mahesh Babu Channa
43                                   Rashi Kacker                   Sr Product Manager                            Impel Labs Pvt. Ltd.                   Data Science, Node.js, Angularjs                                   HR Team Lead
44                                        Ashwini             Director Global Delivery                                    MRP Advisers  Data Science, Media Marketing, Resource Planni...                       Hyderabad / Secunderabad
45                                   Balaji Kolli                           Co Founder                   Saras Solutions India Pvt Ltd  Data Analysis, Learning, Data Science, Compute...                                   Kapil Devang
46                                 Rajani Nagaraj                           HR Manager                                     WildJasmine  Java, Hadoop, R, Machine Learning, Spark, Flum...                                     HR Manager
47                                    ROHIT Kumar                            Architect                             LNT Private Limited  Software Development, Core Java, Unit Testing,...                                         Bhopal
48                                 Amir Chowdhury                     Managing Partner                                     Granular.ai  Machine Learning, Data Science, Product Manage...                                Dhruv Dev Dubey
49                                     Ravi Dubey                  Recruitment Manager                     HyrEzy Talent Solutions LLP  Walmart Interra Skeps Expressstores indifi whi...                       Company Recruitment Head

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [6]:
#Lets connect to the web driver
driver=webdriver.Chrome(r"C:\Users\X1\chromedriver_win32\chromedriver.exe")

In [10]:
driver=webdriver.Chrome('chromedriver.exe')
#getting the specified url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(3)

In [11]:
#Creating empty list
Book_name = []
Author = []
Volumes_sold = []
Publisher = []
Genre = []

In [12]:
#scraping data of book names
for i in driver.find_elements_by_xpath("//tbody//tr/td[2]"):
    Book_name.append(i.text)

    
#Scraping data of author names
for i in driver.find_elements_by_xpath("//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author.append(i.text)
    except NoSuchElementException:
        Author.append('-')
time.sleep(1)


#Scraping data of volumes sold
for i in driver.find_elements_by_xpath("//tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

    
#Scraping data of publisher names
for i in driver.find_elements_by_xpath("//tbody/tr/td[5]"):
    Publisher.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements_by_xpath("//tbody/tr/td[6]"):
    Genre.append(i.text)

In [13]:
#DATA FRAMEING
Novel=pd.DataFrame({})
Novel['Book Name'] = Book_name
Novel['Author'] = Author
Novel['Volume sold'] = Volumes_sold
Novel['Publisher'] = Publisher
Novel['Genre'] = Genre

In [14]:
#Printing data frame
Novel

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [6]:
#Lets connect to the web driver
driver=webdriver.Chrome(r"C:\Users\X1\chromedriver_win32\chromedriver.exe")

In [15]:
driver=webdriver.Chrome('chromedriver.exe')
#getting the specified url
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(3)

In [16]:
#Creating empty lists.
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [17]:
#Scraping data of Names
for i in driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

    
#Scraping data of Year span
for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

    
#Scraping data of genre
for i in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(i.text)

    
#Scraping data of Run time
for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Run_time.append(i.text)

    
#Scraping data of Ratings
for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

    
#Scraping data of votes
for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [18]:
#DATA FRAMEING
IMDB=pd.DataFrame({})
IMDB['Name'] = Name
IMDB['Year Span'] = Year_span
IMDB['Genre'] = Genre
IMDB['Run Time'] = Run_time
IMDB['Ratings'] = Ratings
IMDB['Votes'] = Votes
IMDB

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,993,265"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,027,986"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"948,941"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"283,528"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"243,310"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.4,"48,840"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,505"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"190,219"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,267"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"228,511"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code

In [27]:
#Lets connect to the web driver
driver=webdriver.Chrome(r"C:\Users\X1\chromedriver_win32\chromedriver.exe")

In [28]:
driver=webdriver.Chrome('chromedriver.exe')
#getting the specified url
url = "https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(3)

In [29]:
#Finding view all dataset button
view_dataset = driver.find_element_by_xpath("//tbody[1]//tr/td[2]/span[2]/a")    
page_url = view_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(5)

#Getting page urls containing list of all datasets
all_lst = driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")  
lst_url = all_lst.get_attribute("href")           
driver.get(lst_url)
time.sleep(5)

#fetching url for each dataset
data_url = driver.find_elements_by_xpath("//p[@class='normal']//b/a")    

urls = []     
for i in data_url:
    urls.append(i.get_attribute("href"))

In [30]:
#Creating empty list
Data_name = []
Data_type = []
Task = []
Attr_type = []
Instances = []
n_attributes = []
Year = []

In [31]:
#Scraping requiredinfo from urls
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    #Scraping Dataset name
    try: 
        ds_name = driver.find_element_by_xpath("//span[@class='heading']")
        Data_name.append(ds_name.text)
    except NoSuchElementException:
        Data_name.append('-')
    time.sleep(1)
    
    
    #Scraping data type
    try:
        dtype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[2]")
        if dtype.text == "N/A": raise NoSuchElementException
        Data_type.append(dtype.text)
    except NoSuchElementException:
        Data_type.append('-')
    time.sleep(1)
    
    
    #Scraping Attribute type
    try:
        atype = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[2]")
        if atype.text == "N/A": raise NoSuchElementException
        Attr_type.append(atype.text)
    except NoSuchElementException:
        Attr_type.append('-')
    time.sleep(1)
    
    
    #scraping Task
    try:
        task = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[3]/td[2]")
        if task.text == "N/A": raise NoSuchElementException
        Task.append(task.text)
    except NoSuchElementException:
        Task.append('-')
    time.sleep(1)
    
    
    #Scraping No of instances
    try:
        inst = driver.find_element_by_xpath("//table[@border='1']//tbody/tr/td[4]")
        if inst.text == "N/A": raise NoSuchElementException
        Instances.append(inst.text)
    except NoSuchElementException:
        Instances.append('-')
    time.sleep(1)
    
    
    #Scraping  No of attribute
    try:
        attr = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[4]")
        if attr.text == "N/A": raise NoSuchElementException
        n_attributes.append(attr.text)
    except NoSuchElementException:
        n_attributes.append('-')
    time.sleep(1)
    
    
    #scraping year
    try:
        year = driver.find_element_by_xpath("//table[@border='1']//tbody/tr[2]/td[6]")
        if year.text == "N/A": raise NoSuchElementException
        Year.append(year.text[:4])
    except NoSuchElementException:
        Year.append('-')
    time.sleep(1)

In [32]:
#DATA FRAMEING
UCI=pd.DataFrame({})
UCI['Data Name'] = Data_name
UCI['Data Type'] = Data_type
UCI['Task'] = Task
UCI['Attribute type'] = Attr_type
UCI['No of instance'] = Instances
UCI['No of attributes'] = n_attributes
UCI['Year'] = Year

#Printing dataframe
UCI

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,2.4 GHZ Indoor Channel Measurements Data Set,Multivariate,Classification,Real,7840,5,2018
1,"3D Road Network (North Jutland, Denmark) Data Set","Sequential, Text","Regression, Clustering",Real,434874,4,2013
2,3W dataset Data Set,"Multivariate, Time-Series","Classification, Clustering","Integer, Real",1984,8,2019
3,9mers from cullpdb Data Set,Sequential,"Classification, Regression",Real,158716,4,2021
4,: Simulated Data set of Iraqi tourism places D...,Multivariate,"Classification, Clustering",-,232,16,2020
...,...,...,...,...,...,...,...
617,Youtube cookery channels viewers comments in H...,"Multivariate, Text",Classification,-,9800,3,2019
618,YouTube Multiview Video Games Dataset Data Set,"Multivariate, Text","Classification, Clustering","Integer, Real",120000,1000000,2013
619,YouTube Spam Collection Data Set,Text,Classification,-,1956,5,2017
620,Z-Alizadeh Sani Data Set,-,Classification,"Integer, Real",303,56,2017
621,Zoo Data Set,Multivariate,Classification,"Categorical, Integer",101,17,1990

# THE END